{% extends "base.html" %}

{% block title %}书籍信息{% endblock %}

{% block content %}
 {% if errors %}
<ul style="color:red;">
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
</ul>
    {% endif %}         
    <form action="" method="post" id="book_form">
        <table align="center">
            <tr>
                <th>ISBN:</th>
                <td> <input type="text" class="vIntegerField" name="ISBN"></td>
            </tr>

            <tr>
                <th>标题:</th>
                <td><input type="text" class="vTextField" name="Title" maxlength="100"></td>
            </tr>

            <tr>
                <th>作者:</th>
                <td>
                    <select name="Author">
                        <option value="" selected="selected">---------</option>
                        {% for author in authors %}
                        <option value="{{author}}">{{author}}</option>
                        {% endfor %}
                    </select>
                    <a href="/addA/" id="id_AuthorID" onclick="return showAddAnotherPopup(this);">新建一个作者</a>
                    
                </td>
                
            </tr>

            <tr>
                <th>出版社:</th>
                <td><input type="text" name="Publisher" maxlength="50"></td>
            </tr>

            <tr>
                <th>出版日期:</th>
                <td><input type="date" name="PublishDate" size="10"></td>
            </tr>

            <tr>
                <th>价格:</th>
                <td> <input type="text" name="Price" ></td>
            </tr>
            <tr>
                <td colspan ="2" align="right"><input type="submit" value="保存" class="default" name="_save"></td>
            </tr>
        </table>
</form>

{% endblock %}